.body{
    font-family: 'Quicksand',sans-serif;
}
.fb{
    border-top: 10px solid transparent;
    border-right: 10px solid #12A5BF;
    border-bottom: 10px solid transparent;
}
@media screen and (min-width: 601px) {
    .navbar-fixed {
            transform: translateY(-100%);
            animation: slideDown 1s forwards;
        }
}

@keyframes slideDown {
    to {
        transform: translateY(0);
    }
}
body{
    overflow-x: hidden;
}


html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: #c9c8c8;
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #b3b2b2;
}